 <div class="action">
            <div class="panel panel-danger">
          <div class="panel-heading">Panel heading without title</div>
          <div class="panel-body">
            <a href="">图书</a>
          </div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">Panel heading without title</div>
          <div class="panel-body">
            图书漂流
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading">Panel heading without title</div>
          <div class="panel-body">
            图书有人
          </div>
        </div>
        </div>