<div class="action">
    <div class="panel panel-success">
        <div class="panel-heading">菜品管理</div>
        <div class="panel-body" style="margin-right: 10px">
            <div><a href="/addfood/" class="btn btn-danger" style="margin-bottom: 10px">添加菜品</a></div>
            <div><a href="/foods/" class="btn btn-info">所有菜品</a></div>
            <div><a href="/findfood/" class="btn btn-success">查询菜品</a></div>
            <div><a href="/getcooker/" class="btn btn-danger" style="margin-top: 10px">厨师详情</a></div>
            <div><a href="/canteens/" class="btn btn-info" style="margin-top: 10px">所有餐馆</a></div>
            <div><a href="/addcanteen/" class="btn btn-success" style="margin-top: 10px">增加餐馆</a></div>
            <div><a href="/salefood/" class="btn btn-info" style="margin-top: 10px">菜品销量</a></div>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading" style="background-color: #ebccd1">销量统计</div>
        <div class="panel-body">
            <div><a href="/data/" class="btn btn-success" style="margin-top: 10px">菜品销量统计</a></div>
            <div><a href="/data2/" class="btn btn-info" style="margin-top: 10px">餐馆销量统计</a></div>
        </div>
    </div>
</div>