{% extends 'base.html' %}
{% block t1 %}
{% endblock %}
{% block name %}
    <h1 style="margin-left: 500px;color: #0f0f0f;margin-top: 20px"> 添加食物 </h1>
{% endblock %}
{% block con %}
    <style>
        .btn-success {
            margin-top: 10px;
        }

        .container {
            margin-top: 15px;
            margin-left: 1px;
        }
    </style>
    <script>

    </script>
    <div class="container" style="margin-left: -190px">
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <div style="margin-top: 15px">
                        <label for="">菜品名称</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div style="margin-top: 15px">
                        <label for="">价 格</label>
                        <input type="text" class="form-control" name="price">
                    </div>
                    <div style="margin-top: 15px">
                        <label for="">售卖日期</label>
                        <input type="date" class="form-control" name="date">
                    </div>
                    <div style="margin-top: 15px">
                        <label for="">厨师</label>
                        <select name="cooker" id="" style="margin-left: 12px;width: 280px;height: 30px" >
                            {% for p in cookers %}
                                <option value="{{ p.nid }}">{{ p.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin-top: 10px">
                        <label>售卖餐馆</label>
                         <select name="canteen" id="" style="width: 280px;height: 30px;margin-top: 15px"  >
                            {% for p in canteen %}
                                <option value="{{ p.nid }}">{{ p.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" class="bth btn-success" style="margin-top: 10px">
                </form>
            </div>
        </div>

    </div>
{% endblock %}