{% extends 'base.html' %}
{% block name %}
    <h1 style="margin-left: 500px;color: #0f0f0f;margin-top: 20px" > 编辑销量 </h1>
{% endblock %}
{% block con %}
<style>
.btn-success{
    margin-top: 10px;
}
.container{
    margin-top: 15px;
    margin-left: 1px;
}
</style>
    <div class="container" style="margin-left: -190px">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <label for="">菜品名称</label>
                    <input type="text" class="form-control" name="name" value="{{ food.name }}">
                </div>
                <div>
                    <label for="">销 量</label>
                     <input type="text" class="form-control" name="number" value="{{ salefood.snumber }}">
                </div>
                <input type="submit" class="bth btn-success">
            </form>
        </div>
    </div>

</div>
{% endblock %}