<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜品销量</title>
    <div><a href="/salefood/" class="btn btn-info" style="margin-top: 10px">返回</a></div>
    <div><a href="/sigaldata/" class="btn btn-info" style="margin-top: 10px">按照单独菜品显示</a></div>
    <!-- 引入 echarts.js -->
    <script src="/static/bs/css/echarts.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1100px;height:650px;margin-left: 130px"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '菜品销量'
        },
        tooltip: {},
        legend: {
            data: ['销量']
        },
        xAxis: {
            type: 'category',
            data: {{ b|safe }}
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            itemStyle: {
                normal: {
                    label: {
                        show: true,
                        position: 'top',
                        textStyle: {
                            color: '#800080'
                        }
                    }
                }
            },
            name: '销量',
            type: 'bar',
            data: {{ s|safe }},
            color: '#b2dba1'
        }]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>